python-dotenv
openai
fastapi
uvicorn
line-bot-sdk
gspread
google-auth
python-dotenv
pillow
pytesseract
opencv-python
numpy
openpyxl
cloudinary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib